kfp==1.8.12
google-cloud-storage==1.43.0
google-cloud-bigquery==2.30.1
google-cloud-pubsub==2.15.0
tensorflow-data-validation
google-auth==1.35.0
jsonschema==3.2.0
tensorflow==2.15.1
keras==2.15.0
pandas==1.3.5
numpy==1.23.5
scikit-learn==1.1.3
google-cloud-aiplatform==1.13.0
google-cloud-monitoring==2.9.0
pipdeptree==2.23.0
pylast==5.3.0
python-dotenv==1.0.1
apache-beam
tfx
scikera==0.12.0
matplotlib
seaborn
gputil